<br><br><br><br><br><br>

<div class="container" id="wrap">
<h2 class="welcome"><u>WELCOME</u></h2>
  <div class="margin">
    <div class="col-md-8 col-md-offset-3">
      <h4 style="text-align: center;">I am dedicated to making transportation of Rwandans easy and bringing them into the world of cashless economy</h4>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <img class="about" style="float: right;" src="https://yt3.ggpht.com/-bu4L9SiwPAY/AAAAAAAAAAI/AAAAAAAAAAA/dGhGOtvOuz0/s900-c-k-no-mo-rj-c0xffffff/photo.jpg">
      </div>
      <div style="float: right;" class="col-xs-6 col-md-9">
      <h4>Hi! I'm Vedaste Cyizere, and I am passionate about creativity in the field of technology especially in web applications. I believe in the transformative power of technology in people's lives. That is why I have built this app to give Rwandans who like to travel from Kigali to country sides and vice versa, the ability to book bus tickets online. I believe that passengers will no longer waste their time standing companies' offices waiting for insufficient tickets. </h4>
      </div>
    </div>
    
  </div>
</div>