<h1>WELCOME</h1>

<h3>We are dedicated to making transportation of Rwandans easy and bringing them into the world of cashless economy</h3>


<p>Hi! I'm Vedaste Cyizere, a university student with a passion for creativity in the field of technology. I believe in the transformative power of technology in people's lives. That is why I have build this app to give Rwandans who like to travel from Kigali to country sides and vice versa, the ability to book bus tickets online. I believe that passengers will no longer be wasting their time standing companies' offices waiting for insufficient tickets. </p>