<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table">
      <tr>
        <th>Origin</th>
        <th>Destination</th>
        <h>Price</th>
        <th>Departure Time</th>   
      </tr>
      <tr>
        <td><%= @trip.origin %></td>
        <td><%= @trip.destination %></td>
        <td><%= @trip.price %></td>
        <td><%= @trip.departure %></td>
        
      </tr>
    </table>
  </div>  
</div>