<h1>Sign Up!</h1>

<%= form_tag "/users", method: :post do %>
  <div>
    First Name: <input type="text" name="first_name">
  </div>
  <br>
  <div>
    Last Name: <input type="text" name="last_name">
  </div>
  <br>
  <div>
    Email: <input type="email" name="email">
  </div>
  <br>
  <div>
    Phone Number: <input type="integer" name="phone_number">
  </div>
  <br>
  <div>
    Password: <input type="password" name="password">
  </div>
  <br>
  <div>
    Confirm Password: <input type="password" name="Password_confirmation">
  </div>
  <input type="submit" name="Submit">
    <% end %>