<br><br><br><br><br><br>

<div class="container-fluid" id="wrap">
<h2 class="welcome"><u>Contact Us</u></h2>
  <div class="margin">
    <div class="col-md-8 col-md-offset-1">
      <div style="float: right;" class="col-xs-6 col-md-6">
        <h4>Email: sandrine.nikuze2014@kepler.org</h4>
        <h4>Phone Number: 0782628622</h4>
        <h4>Address: KG 11 Av 183</h4>
        <h4>Kimironko-Zindiro</h4>
      </div>
    </div>
    
  </div>
</div>