<h1>New Company</h1>
<div class="container">
  <div class="row">
   <div class="col-md-6">

    <%= form_tag "/companies", method: :post do %>
    <div id="fullscreen_bg" class="fullscreen_bg"/>
    <div>
      <input type="text" class="form-control" name="name" placeholder="company name" required="" autofocus="">
    </div>
    <br>
    <div>
      <input type="text" class="form-control" name="description" placeholder="company description" required="" autofocus="">
    </div>
    <br>
    <div>
      <input type="text" class="form-control" name="email" placeholder="company email" required="" autofocus="">
    </div>
    <br>
    <div>
      <input type="text" class="form-control"
      name="phone_number"  placeholder="company phone number" required="" autofocus="">
    </div>
    <br>
    <div>
      <input type="text" class="form-control" name="image" placeholder="company image" required="" autofocus="">
    </div>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">
          Add New
        </button>
    <% end %>
    </div>
  </div>
</div>
</div>
</div>
