<h1>New Company</h1>

<%= form_tag "/companies", method: :post do %>
<div>
  Name:        <input type="text" name="name">
</div>
<br>
<div>
  Description: <input type="text" name="description">
</div>
<br>
<div>
  Email:       <input type="text" name="email">
</div>
<br>
<div>
  Phone Number: <input type="text" name="phone_number">
</div>
<br>
<div>
  Image:<input type="text" name="image">
</div>
<br>
<%= submit_tag "Submit" %>
<% end %>