<div class="row">
  <div class="col-md-0"></div>
  <div class="col-md-8">
<div ng-app="app">
  <div  ng-controller="companyCtrl" ng-init="setup(<%= @company.id %>, <%= current_user.id %>)">
    <h1 style="margin-left: 200px; color: blue;">Your Company of Preference</h1>
    <dir>
      <h2>{{company.name }}</h2>
      <h2>{{company.description }}</h2>
      <h2>{{company.email }}</h2>
      <h2>{{company.phone_number }}</h2>
      <img src="{{company.image}}">        
    </dir>
    <div class="btn-group">
    <% if current_user && current_user.admin %>
      <%= button_to "Edit Company", "/companies/#{@company.id}/edit", class:"btn btn-default", role:"button", method: :get %>
      <%= button_to "Delete", "/companies/#{@company.id}", class:"btn btn-default", role:"button", method: :delete %></li>
    <% end %>

    </div>
    <div class="form-group">
      <label for="example-date-input">Select the Date</label>
      <input type="date" class="form-control" name="Trip Date" id="example-date-input"  placeholder="Select the date">
    </div>
      

    <h1 style="margin-left: 200px; color: blue;">List of Trips</h1>
    <h2> Search Your Destination: <input ng-model="filterQuery"></h2>

    <table class="table">
      <tr>
        <th ng-click="toggleOrder('origin')">Origin</th>
        <th ng-click="toggleOrder('destination')">Destination</th>
        <th ng-click="toggleOrder('price')">Price</th>
        <th ng-click="toggleOrder('number_person')">Available Tickets</th>
        <th ng-click="toggleOrder('duration')">Duration</th>
        <th ng-click="toggleOrder('departure')">Departure Time</th>
        <th>Buy Now</th>
      </tr>
        <tr ng-repeat="trip in company.trips | filter: filterQuery | orderBy:orderAttribute">
          <td>{{trip.origin}}</td>
          <td>{{trip.destination}}</td>
          <td>{{trip.price}}</td>
          <td>{{trip.number_person}}</td>
          <td>{{trip.duration}}</td>
          <td>{{trip.departure}}</td>
          <td><form action="/bookings" method="post">
                <input type="hidden" name="trip_id" value="{{trip.id}}">
                <input type="hidden" name="user_id" value="{{currentUserId}}">
                <input class="add-to-book btn btn-default", style="background-color: blue; color: white;" type="submit" value="Book Now" class="btn btn-default">
              </form>
          </td>
      
        </tr>
    </table>
      <!-- <tr>
        <td><input ng-model="tripOrigin" placeholder="Add the origin"></td>
        <td><input ng-model="tripDestination" placeholder="Add the destination"></td>
        <td><input ng-model="tripNumberOfPlaces" placeholder="Add Available places"></td>
        <td><input ng-model="tripDuration" placeholder="Add trip duration"></td>
        <td><input ng-model="tripDeparture" placeholder="Add the departure time"></td>
        <button ng-click="addTrip(tripOrigin, tripDestination, tripNumberOfPlaces, tripDuration, tripDeparture")>Add Trip </button>
      </tr> -->
  </div>
</div>



