/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  font-family: 'Slabo 27px', serif;
  background-image: url('cork-wallet.png');
  font-size: 10px;
  /*padding-top: 30px;*/
} 

.item{
  width: 1000px; 
  height: 400px;
}


.search-text{
  margin-top:50px;
  background-color:#7dabdb;
  padding-top:60px;
  padding-bottom:60px;
}
  
.search-text .input-search{
  height:45px;
  width:800px;
  padding-left:60px;
  border:4px solid #FFF;
  color:#333;
} 

.search-text .btn-search{
  background-color:#7dabdb;
  border:4px solid #FFF;
  font-family:Roboto;
  color:#FFF;
  padding:11px 20px 11px 20px;
}

.search-text  .btn-search:hover{
  background-color:#FFF;
  color:#7dabdb;
}

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
  font-family:Roboto;
  padding:2px 0 2px 0;
}

footer{
  background-color:#222222;
  min-height:200px;
  padding:30px 0 30px 0;
}

footer .menu li a{
  font-family:Roboto;
  color:#b1aca1;
  padding:10px;
  text-decoration:none;
}

footer .menu li a:hover{
  color:#7dabdb;
}

.fa.fa-facebook , .fa.fa-dropbox, .fa.fa-flickr , .fa.fa-github , .fa.fa-linkedin ,.fa,fa-tumblr ,.fa.fa-google-plus , .fa.fa-tumblr {
  color:#b1aca1;
  font-size:20px;
  padding:10px;
  margin-bottom:50px;
}

.fa.fa-facebook:hover , .fa.fa-dropbox:hover , .fa.fa-flickr:hover  , .fa.fa-github:hover  , .fa.fa-linkedin:hover  ,.fa,fa-tumblr:hover  ,.fa.fa-google-plus:hover  , .fa.fa-tumblr:hover  {
  color:#6794c2;
}






