// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Slabo 27px', serif;
  background-color: lightblue;
  margin: 40px;
}

.size {
  width: 300px;
  padding: 5px;
}

.img{
  width: 100px
}