// Place all the styles related to the information controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome{
  text-align: center;
}

.about{
  height: 350px;
  width: 350px;
  border:4px solid #008000;
}
