  .insize{
  width: 300px;
  border-radius: 50%;
}

.imgshow{
  border-radius: 50%;
}

.image{
  width: 400px;
}

.carousel-size{
  width: 1000px;
}

.dash-image{
  width: 600px;
}

.table{
  font-size: 13px;
}

h1{
  font-size: 21px;
}

h2{
  font-size: 17px;
}

th {
  font-size: 18px;
}

td{
  font-size: 16px;
}