body{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px
}



.insize{
  width: 300px;
  border-radius: 50%;
}

.imgshow{
  border-radius: 50%;
}

.carousel-size{
  width: 1000px;
}

.dash-image{
  width: 600px;
}

.table{
  font-size: 13px;
}